<div class="starter-template">
    {{#students}}
        <h3>{{firstName}}</h3>
        <h3>{{lastName}}</h3>
        <h3>{{age}}</h3>
        <h3>{{gender}}</h3>
        <p>*****************</p>
    {{/students}}
</div>