<div class="starter-template">
    <h3>{{home_attr1}}</h3>
    <p><a href="all">all</a></p>
    <p><a href="byGroup/123">group 123</a></p>
    <p><a href="byGroup/223">group 223</a></p>
    <p><a href="byGender/female">female students</a></p>
    <p><a href="byGender/male">male students</a></p>
    <p><a href="everythingIsComplicated">other genders</a></p>
</div>