<div class="starter-template">
    {{#students}}
        <h3>{{firstName}} {{lastName}}</h3>
        <h3>age: {{age}}</h3>
        <h3>group: {{group}}</h3>
        <p>*****************</p>
    {{/students}}
</div>